################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/finish/.vs/
/finish/AVCamSample/bin
/finish/AVCamSample/obj
/finish/AVCamSample.UITest/bin
/finish/AVCamSample.UITest/obj