xSyncClassroomClient.Core/bin
xSyncClassroomClient.Core/obj
packages/* 
*/bin 
*/obj
.idea/
*.userprefs
*.vs

packages/
xSyncClassroom\.Core/bin/
xSyncClassroom\.Core/obj/
xSyncClassroomClient\.iOS/bin
xSyncClassroomClient\.iOS/obj
PVC.Ink.Core/bin/Debug
/xSyncClassroom.Shared/Protocol/Services/LogService_REMOTE_14704.cs
/xSyncClassroom.Shared/Protocol/Services/LogService_LOCAL_14704.cs
/xSyncClassroom.Shared/Protocol/Services/LogService_BASE_14704.cs
/xSyncClassroom.Shared/Protocol/Services/LogService_BACKUP_14704.cs
